body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

footer {
  position: fixed;
  bottom: 0;
}

img {
  width: 100%;
}

.item-text:nth-child(1) {
  font-weight: bolder;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #7f7f7f;
}

.item-text:nth-child(2) {
  font-weight: bold;
  color: #e75b1e;
}

.text-custom-color {
  color: #e75b1e;
}

.instruction.item-text:nth-child(2) {
  font-weight: lighter;
}

.comments > h2 {
  font-weight: lighter;
}

.meals-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 32px 24px;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.meal-card {
  width: 200px;
  flex-grow: 0;
}

.meal-desc {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.meal-likes {
  display: flex;
  gap: 0.3vw;
}

.text-end {
  text-align: end;
}

#details-popup {
  width: 90%;
  min-height: 98vh;
  margin: auto;
  text-align: center;
  z-index: 1000;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.comment > * {
  padding: 0 1rem;
}

.meal-image {
  width: 100%;
  height: 500px;
}

.d-none {
  display: none;
}

.food-container {
  position: relative;
  text-align: left;
}

.food-image {
  width: 50%;
  margin: auto;
  border: 0.5px solid rgba(231, 91, 30, 0.51);
  border-radius: 3px;
}

.close-btn {
  padding: 1rem;
  background-color: #800;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.badge {
  color: inherit;
  background-color: #f0f0f0;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.link-item {
  text-decoration: none;
  color: #7f7f7f;
}

.item-count {
  padding: 0.5rem;
  border-radius: 100px;
  background-color: #e75b1e;
  color: #fff;
}

.logo {
  flex-grow: 1;
}
