body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

footer {
  position: fixed;
  bottom: 0;
}

img {
    width: 100%;
}

.p-1-lg {
  padding: 1rem;
}

.d-flex-lg {
  display: flex;
}

.justify-between-lg {
  justify-content: space-between;
}

.grow-1-lg {
  flex-grow: 1;
}

.meals-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 32px 24px;
}

.meal-card {
    width: 200px;
    flex-grow: 0;
}