body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

footer {
  position: fixed;
  bottom: 0;
}

.p-1-lg {
  padding: 1rem;
}

.d-flex-lg {
  display: flex;
}

.justify-center-lg {
  justify-content: center;
}

.justify-between-lg {
  justify-content: space-between;
}

.grow-1-lg {
  flex-grow: 1;
}

.grid-lg {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.description-item {
  border: 1px solid rgba(68, 68, 68, 0.33);
  display: flex;
  align-content: center;
  margin: 1rem;
}

.text-end {
  text-align: end;
}

.form-group {
  margin: 1rem auto;
}

.flex-column-lg {
  flex-direction: column;
}

#details-popup {
  width: 90%;
  min-height: 98vh;
  margin: auto;
  border: 1px solid #000;
  text-align: center;
  z-index: 1000;
  position: relative;
}

.comment > * {
  padding: 0 1rem;
}

.food-container,
.comments,
.form {
  width: 50%;
  margin: 2rem auto;
}

.food-image {
  height: 400px;
  background-color: black;
  position: relative;
}

.meal-image {
  width: 100%;
  height: 400px;
}
